@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
html {
	scroll-behavior: smooth;
}
body{
	margin:0;
}
h1,h2,h3,p{
	margin:0;
}
.page{
	height: 100vh;
}
.fat{
	width:100%;
}
.h-5{
	height: 5vh;
}
.h-7{
	height: 7vh;
}
.h-10{
	height: 10vh;
}
.h-15{
	height: 15vh;
}
.h-20{
	height: 20vh;
}
.h-30{
	height: 30vh;
}
.h-40{
	height: 40vh;
}
.h-75{
	height: 75vh;
}
.h-80{
	height: 80vh;
}
.h-85{
	height: 85vh;
}
.text-center{
	text-align: center;
}
#first{
	background-color: rgb(253, 165, 2);
}
#second{
	background-image: linear-gradient(rgb(253, 165, 2), rgb(2, 149, 253));
}
#third{
	background-color: rgb(2, 149, 253);
}
#forth{
	background-image: linear-gradient(rgb(2, 149, 253), white);
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
}
a{
	text-decoration: none;
	color:white;
}

span.animation-text-1{
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  	transform: translateY(-50px);
  	opacity: 0;
  	animation-name: animationt;
  	animation-timing-function: ease;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
}
span.anim-1{
	animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
}
span.anim-2{
	animation-delay: 0.65s;
}
span.anim-3{
	animation-delay: 0.8s;
	color: #d6ff00c9;
}
.box-title-3{
	display: flex;
	justify-content: center;
	align-items: center;
}


/*swiper*/

.swiper-container {
  height: 85%;
  width:70%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
	.logo-space{
		display:flex;
		justify-content: center;
	}
	.logo{
		height: 20vh;
	}
	.text-box-1{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		font-size: 9vh;
		color:white;
		font-family: 'Nunito', sans-serif;
	}
	.button-container-1{
		height: 20vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.button1{
		font-size: 4vh;
		font-family: 'Nunito';
		border: 0.6vh solid white;
		border-radius: 80px;
		padding-right:4vw; 
		padding-left:4vw; 
		padding-top: 0.6vh;
		padding-bottom: 0.6vh;
		transition-duration: 1s;
	}
	.button1:hover{
		background-color: rgba(255,255,255,0.8);
		color:#fda502;;
		transition-duration: 1s;
	}
	.text-box-2{
		display: flex;
		flex-direction: column;
	}
	h2.text2{
		font-size: 4vh;
		font-family: 'Nunito';
		margin:0;
		color:rgb(253, 165, 2);
		text-align: center;
		animation-name: colorChange;
  		animation-timing-function: ease;
  		animation-duration: 5s;
  		animation-iteration-count: infinite;
	}
	h2.anim-1{
		animation-delay: 1s;
  		-webkit-animation-fill-mode: forwards;
	}
	h2.anim-2{
		animation-delay: 1.7s;
	}
	h2.anim-3{
		animation-delay: 2.4s;
	}


	h1.title-3{
		font-size: 7vh;
		font-family: 'Nunito';
		text-align: center;
		color:yellow;
	}
	h1.title-2{
		font-size: 7vh;
		font-family: 'Nunito';
		text-align: center;
		color:white;
	}

	.price-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.price-box{
		height: 35vh;
		width: 80vw;
		border-radius:3vh;
		background-color: white; 
	}
	h1.price-title{
		text-align: center;
		color: #0b229a;
		font-size: 3vh;
		font-family: 'Nunito';
	}
	ul.price-box-text{
		font-size:2vh;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 0;
		margin-left:3vw;
	}
	div.price{
		font-size: 2.5vh;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content:flex-end;
		align-items: center;
		color:#00199a;
		padding-right: 3vw;
	}
	li.price-box-text{
		animation-name: slide;
  		animation-timing-function: ease;
  		animation-duration: 10s;
  		animation-iteration-count: infinite;
	}
	li.anim-1{
		animation-delay: 0s;
		-webkit-animation-fill-mode: forwards;
	}
	li.anim-2{
		animation-delay: 1.2s;
	}
	li.anim-3{
		animation-delay: 2.4s;
	}
	li.anim-4{
		animation-delay: 3.6s;
	}
	li.anim-5{
		animation-delay: 4.8s;
	}
	li.anim-6{
		animation-delay: 6s;
	}

	div.connect-container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.connect{
		font-size: 3vh;
	}


	


	/*.second_container .container_1 .title{
	border: 1px solid black;
}*/

.second_container .container_1{
	display: flex;
	align-items: center;
	justify-content: center;
}

.second_container .container_1 p{
	font-size: 7vh;
	font-family: 'Nunito';
	text-align: center;
	color: rgb(2, 149, 253);
}


.second_container .container_1 p:hover{
	font-size: 8vh;
	text-align: center;
	color: rgb(0, 94, 174);
	transition: 0.5s;
}

.second_container .container_2{
	height: 75%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5vh;
	padding: 0vh 14vw;
	padding-bottom: 8vh;
	
}

.second_container .container_2 .block{
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	grid-template-rows: 1fr
}

	.second_container .container_2 .block{
		display: flex;
		flex-direction: column;
	}
	.second_container .container_2 .block .block_1{
		height: 30%;
		font-size: 2vh;
	}


.second_container .container_2 .block:hover{
	opacity: 0.8;
}

.second_container .container_2 .block .block_1{
	background: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2vh;
}

.second_container .container_2 .block .block_1 p{
	text-align: center;
	color: white;
}	
.second_container .container_2 .block .img{
	display: flex;
	justify-content: center;
	padding: 15%;
}

.second_container .container_2 .block img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

/*second page - end*/









	@media(min-device-width: 1500px){
		.button-container-1{
			width:50%;
		}
	}

	@media(min-device-width: 1100px) and (max-device-width:1499px){
		.button-container-1{
			width:60%;
		}
		.swiper-container {
			width:25%;
		}
	}

	@media(min-device-width: 1000px) and (max-device-width:1099px){
		.button-container-1{
			width:60%;
		}
		.swiper-container {
			width:45%;
		}

	}

	@media(min-device-width: 500px) and (max-device-width:999px){
		.button-container-1{
			width:70%;
		}
		.swiper-container {
			width:40%;
		}
	}

	@media(max-device-width: 499px){
		.button-container-1{
			width:100%;
		}

		.swiper-container {
			width:80%;
		}
	}

/*animations*/

@keyframes animationt {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}




@keyframes colorChange {
	0%{
		color:rgb(253, 165, 2);
	}
	20%{
		color:yellow;
	}
	60%{
		color:dodgerblue;
	}
	80%{
		color:white;
	}
	100%{
		color:rgb(253, 165, 2);
	}

}

@keyframes slide{
0%{
	margin-left: 0vw;
}
10%{
	margin-left:5vw; 
	color:rgb(253, 165, 2);
}
20%{
	margin-left: 0vw;
}
100%{
	margin-left: 0vw;
}
}