@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
html {
	scroll-behavior: smooth;
}
body{
	margin:0;
	background-image: url(back.png);
	background-position: left;
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
h1,h2,h3,p{
	margin:0;
}

span.font-N{
	font-family: 'Nunito';
}
span.font-size-4{
	font-size: 4vh;
}
span.font-color-orange{
	color: rgb(253, 165, 2);
}
.font-size-2{
	font-size: 2.5vh;
}
.color-black{
	color:black;
}

.page{
	height: 100vh;
}
.fat{
	width:100%;
}
.h-5{
	height: 5vh;
}
.h-7{
	height: 7vh;
}
.h-10{
	height: 10vh;
}
.h-15{
	height: 15vh;
}
.h-20{
	height: 20vh;
}
.h-30{
	height: 30vh;
}
.h-40{
	height: 40vh;
}
.h-75{
	height: 75vh;
}
.h-80{
	height: 80vh;
}
.h-85{
	height: 85vh;
}

.column-50{
	width:50%;
	float:left;
	display: flex;
	align-items: center;
}

.text-center{
	text-align: center;
}
#first{
	background-color: rgba(253, 165, 2, 0.9);
}
#first-second{
	
}
#second{
	background-image: linear-gradient(rgba(253, 165, 2, 0.9), rgba(64, 64, 64, 0.9));
}
#third{
	background-color: rgba(64, 64, 64, 0.9);
}
#forth{
	background-image: linear-gradient(rgba(64, 64, 64, 0.9), rgba(255,255,255, 0.8));
}
#fifth{
	background-color: rgba(255,255,255,0.8);
}
.center{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items:center;
	justify-content: center;
	-webkit-justify-content: center;
	margin:0;
}

.mini-page-1{
	background-color: rgba(37,37,37,0.5);
	width:100%;
	display: flex;
	display: -webkit-flex; 
	-webkit-justify-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap:wrap;
	margin:0;
}

.mini-box{
	height: 200px;
	background-color: #d6d5d5;
	border-radius: 5px;
	margin-left:15px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
div.mini-box-header{
	height: 30px;
}
h1.mini-box-header{
	color:black;
	font-family: 'Nunito';
	font-size: 3vh;
	width:80%;
	text-align: left;
}
div.mini-box-text{
	height: 120px;
}
p.mini-box-text{
	margin:0;
	width:220px;
	font-family: 'Montserrat';
	font-size: 14px;
	color:#6f6f6f;
}
div.mini-box-price{
	height: 40px;
}
h2.mini-box-price{
	color:black;
	font-family: 'Nunito';
	font-size: 2vh;
	width:80%;
	text-align: right;
}


a{
	text-decoration: none;
	color:white;
}

h1.phone{
	color:white;
	font-family: 'Nunito';
}

span.animation-text-1{
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  	transform: translateY(-50px);
  	opacity: 0;
  	animation-name: animationt;
  	animation-timing-function: ease;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
}
span.anim-1{
	animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
}
span.anim-2{
	animation-delay: 0.65s;
}
span.anim-3{
	animation-delay: 0.8s;
	color: #d6ff00c9;
}
.box-title-3{
	display: flex;
	justify-content: center;
	align-items: center;
}
div.text-box-3{
	width: 90%;
	font-family: 'Montserrat';
	color:white;
	font-size:3vh;
	padding:5vw; 
}




/*swiper*/

.swiper-container {
  height: 85%;
  width:100%;
}
.swiper-slide {
  background-color: rgba(64, 64, 64, 0.5);
  width:100%;
}
.slider-box{
	height: 85%;
}




	.logo-space{
		background-color: rgba(37,37,37,0.8);
		height: 10vh;
	}
	.logo{
		height: 8vh;
	}
	.text-box-1{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		font-size: 7vh;
		color:white;
		font-family: 'Nunito', sans-serif;
	}
	.button-container-1{
		height: 20vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.button1{
		font-size: 4vh;
		font-family: 'Nunito';
		border: 0.6vh solid white;
		border-radius: 80px;
		padding-right:4vw; 
		padding-left:4vw; 
		padding-top: 0.6vh;
		padding-bottom: 0.6vh;
		transition-duration: 1s;
	}
	.button1:hover{
		background-color: rgba(255,255,255,0.8);
		color:#fda502;;
		transition-duration: 1s;
	}

	img.ic{
		width: 3.5vh;
		margin-left: 3vw;
	}





	p.text-3{
		width:90%;
		color:black;
		font-family: 'Montserrat';
		margin-bottom: 1em;
	}
	h1.title-3{
		font-size: 7vh;
		font-family: 'Nunito';
		text-align: center;
		color:yellow;
	}
	h1.title-2{
		font-size: 6vh;
		font-family: 'Comfortaa';
		text-align: center;
		color:black;
	}
	.title-4{
		font-size: 7vh;
		font-family: 'Nunito';
		text-align: center;
		color:rgba(2, 149, 253, 1);
	}

	.price-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.price-box{
		height: 35vh;
		width: 80vw;
		border-radius:3vh;
		background-color: white; 
	}
	h1.price-title{
		text-align: center;
		color: #0b229a;
		font-size: 3vh;
		font-family: 'Nunito';
	}
	ul.price-box-text{
		font-size:2vh;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 0;
		padding-inline-start: 30px;
	}
	div.price{
		font-size: 2.5vh;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content:flex-end;
		align-items: center;
		color:#00199a;
		padding-right: 3vw;
	}
	li.price-box-text{
		animation-name: slide;
  		animation-timing-function: ease;
  		animation-duration: 10s;
  		animation-iteration-count: infinite;
	}
	li.anim-1{
		animation-delay: 0s;
		-webkit-animation-fill-mode: forwards;
	}
	li.anim-2{
		animation-delay: 1.2s;
	}
	li.anim-3{
		animation-delay: 2.4s;
	}
	li.anim-4{
		animation-delay: 3.6s;
	}
	li.anim-5{
		animation-delay: 4.8s;
	}
	li.anim-6{
		animation-delay: 6s;
	}

	div.connect-container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.connect{
		font-size: 3vh;
	}


	


/*.second_container .container_1 .title{
	border: 1px solid black;
}*/

.second_container .container_1 p{
	font-size: 6vh;
	text-align: center;
	color: rgb(2, 149, 253);
}

.second_container .container_1 p:hover{
	font-size: 8vh;
	text-align: center;
	color: rgb(0, 94, 174);
	transition: 0.5s;
}

.second_container .container_2{
	height: 75%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5vh;
	padding: 0vh 14vw;
	padding-bottom: 8vh;
	
}

.second_container .container_2 .block{
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	grid-template-rows: 1fr;
	background-color: white;
}

@media (min-width: 940px){
	.second_container .container_2 .block{
		display: flex;
		flex-direction: column;
	}
	.second_container .container_2 .block .block_1{
		height: 30%;
	}
}

@media (min-width: 614px) and (max-width: 800px){
	.second_container .container_2 .block{
		display: flex;
		flex-direction: column;
	}
	.second_container .container_2 .block .block_1{
		height: 30%;
	}
}

.second_container .container_2 .block:hover{
	opacity: 0.8;
}

.second_container .container_2 .block .block_1{
	background: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2vh;
}

.second_container .container_2 .block .block_1 p{
	text-align: center;
	color: white;
}	

@media (min-width: 300px) and (max-width: 600px){
	.second_container .container_2 .block .block_1 p{
		font-size: 12px;
	}
}

@media (min-width: 601px) and (max-width: 900px){
	.second_container .container_2 .block .block_1 p{
		font-size: 14px;
	}
}



.second_container .container_2 .block .img{
	display: flex;
	justify-content: center;
	padding: 15%;
}

.second_container .container_2 .block img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

/*second page - end*/







div.paper{
	background-color: white;
	width:90%;
	height: 90%;

}




	@media(min-device-width: 1500px){
		.button-container-1{
			width:50%;
		}
		h1.phone{
			font-size: 3.5vh;
		}
		.mini-box{
			width: 270px;
		}

		.slider-box{
			width: 60%;
		}


		.slider-box{
			width: 70%;
		}

		.slider-box{
			width: 80%;
			display: flex;
			flex-direction:row;
			align-items: center;
		}
		.slider-image-block{
			height: 80%;
		}
		.slider-text-block{
			height: 80%;
			width:70%;
		}
		img.slider{
			height: 100%;
		}
		h1.slider{
			color:white;
			font-family: 'Nunito';
			font-size: 3vh;
			margin: 1vh;
			text-align: center;
		}
		p.slider{
			color:white;
			font-family: 'Montserrat';
			font-size: 2vh;
			width:85%;
			margin-left: 10%;
			margin-bottom: 1em;
		}
		.adap-hidden{
			visibility: visible;
		}
		p.text-3{
			font-size: 3vh;
		}


	}

	@media(min-device-width: 1100px) and (max-device-width:1499px){
		.button-container-1{
			width:60%;
		}
		h1.phone{
			font-size: 3.3vh;
		}
		.mini-box{
			width: 270px;
		}


		.slider-box{
			width: 60%;
		}


		.slider-box{
			width: 70%;
		}

		.slider-box{
			width: 80%;
			display: flex;
			flex-direction:row;
			align-items: center;
		}
		.slider-image-block{
			height: 80%;
		}
		.slider-text-block{
			height: 80%;
			width:70%;
		}
		img.slider{
			height: 100%;
		}
		h1.slider{
			color:white;
			font-family: 'Nunito';
			font-size: 3vh;
			margin: 1vh;
			text-align: center;
		}
		p.slider{
			color:white;
			font-family: 'Montserrat';
			font-size: 2vh;
			width:85%;
			margin-left: 10%;
			margin-bottom: 1em;
		}
		.adap-hidden{
			visibility: visible;
		}
		p.text-3{
			font-size: 3vh;
		}

	}


	@media(min-device-width: 500px) and (max-device-width:1099px){
		.button-container-1{
			width:70%;
		}

		h1.phone{
			font-size: 2.5vh;
		}
		.mini-box{
			width: 250px;
		}


		.slider-box{
			width: 70%;
		}

		.slider-box{
			width: 80%;
			display: flex;
			flex-direction:row;
			align-items: center;
		}
		.slider-image-block{
			height: 80%;
		}
		.slider-text-block{
			height: 80%;
			width:70%;
		}
		img.slider{
			height: 100%;
		}
		h1.slider{
			color:white;
			font-family: 'Nunito';
			font-size: 3vh;
			margin: 1vh;
			text-align: center;
		}
		p.slider{
			color:white;
			font-family: 'Montserrat';
			font-size: 2vh;
			width:85%;
			margin-left: 10%;
			margin-bottom: 1em;
		}
		.adap-hidden{
			visibility: visible;
		}

		p.text-3{
			font-size: 3vh;
		}

	}

	@media(max-device-width: 499px){
		.button-container-1{
			width:100%;
		}

		h1.phone{
			font-size: 1.8vh;
		}
		.mini-box{
			width: 270px;
		}

		.slider-box{
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.slider-image-block{
			height: 80%;
		}
		.slider-text-block{
			height: 20%;
			width:80%;
		}
		img.slider{
			height: 100%;
		}
		h1.slider{
			color:white;
			font-family: 'Nunito';
			font-size: 3vh;
			margin: 1vh;
		}
		p.slider{
			color:white;
			font-family: 'Montserrat';
			font-size: 1.5vh;
		}
		.adap-hidden{
			visibility: hidden;
		}

		p.text-3{
			font-size: 2vh;
		}

	}

/*animations*/

@keyframes animationt {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}




@keyframes colorChange {
	0%{
		color:rgb(253, 165, 2);
	}
	20%{
		color:yellow;
	}
	60%{
		color:dodgerblue;
	}
	80%{
		color:white;
	}
	100%{
		color:rgb(253, 165, 2);
	}

}

@keyframes slide{
0%{
	margin-left: 0vw;
}
10%{
	margin-left:5vw; 
	color:rgb(253, 165, 2);
}
20%{
	margin-left: 0vw;
}
100%{
	margin-left: 0vw;
}
}